[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "csdm"]
	path = csdm
	url = https://github.com/macosso/csdm
[submodule "xtsum"]
	path = xtsum
	url = https://github.com/macosso/xtsum
